<!DOCTYPE html>
<html>

<head>
    <title>{{ flow_name }} Images</title>
    <link rel="stylesheet" type="text/css" href="/static/styles.css">
</head>

<body>
    <h1>All screens</h1>

    <hr>
    <div>
        Found {{ image_data|length }} images
    </div>
    <hr>

    <table>
        <tr>
            <th>Id</th>
            <th>Image</th>
            <th>Screen text</th>
            <th>Comment</th>
            <!-- <th>OCR result</th> -->
        </tr>
        {% for image in image_data %}
        <tr>
            <td>{{ image.name}}</td>
            <td>
                <a href="{{ image.test_link }}" target="_blank">
                    <img id="{{ image.name}}" style="margin: 0 30px 0 30px;" width="256" src="{{ image.src }}"
                        alt="{{ image.name }}">
                </a>
            </td>
            <td>{{ image.description}}</td>
            <td>{{ image.comment}}</td>
            <!-- <td class="{{ 'red' if image.ocr_failed else '' }}">{{ image.ocr_result_str}}</td> -->
        </tr>
        {% endfor %}
    </table>
</body>

</html>
