<!DOCTYPE html>
<html>

<head>
    <title>UI flows</title>
    <link rel="stylesheet" type="text/css" href="/static/styles.css">
</head>

<body>
    <h1>Text search</h1>
    <form action="/text" method="get">
        <label for="text">Enter text:</label>
        <input type="text" id="text" name="text" value="{{ text }}" placeholder="Text to find on screen">
        <button type="submit">Search</button>
    </form>
    <hr>
    <h1>All screens</h1>
    <a href="./all_screens">
        <button>See all screens</button>
    </a>
    <hr>
    <h1>Flows</h1>
    <ul>
        {% for subdir, file_count in subdirs_and_filecounts %}
        <li><a href="/flow/{{  subdir }}" target="_blank">{{ subdir }} ({{ file_count }})</a></li>
        {% endfor %}
    </ul>
</body>

</html>
