<!DOCTYPE html>
<html>

<head>
    <title>UI flows</title>
    <link rel="stylesheet" type="text/css" href="/static/styles.css">
</head>

<body>
    <h1>Text search</h1>
    <form action="/text" method="get">
        <label for="text">Enter text:</label>
        <input type="text" id="text" name="text" value="{{ text }}" placeholder="Text to find on screen">
        <button type="submit">Search all models</button>
    </form>

    <hr>
    <h1>Individual models</h1>

    {%- for model in models -%}
    <a href="/model/{{ model }}" target=" _blank">
        <button>{{ model.upper() }} screens</button>
    </a>
    <br>
    {%- endfor -%}

    <hr>
    <h1>Comparison</h1>

    <a href="/compare" target=" _blank">
        <button>Compare screens</button>
    </a>

    <hr>
    <h1>Translations</h1>

    <a href="/translations" target=" _blank">
        <button>Check translations</button>
    </a>
</body>

</html>
